//主题色
@common-color: #1966ff;
@common-color-hover: #5790ff;

//字体常用色
@tm-text-0: #000;
@tm-text-3: #333;
@tm-text-6: #666;
@tm-text-9: #999;
@tm-text-c: #ccc;
@tm-text-f: #fff;

//管理相关
@tm-case-orange: #ff5500; 
@tm-case-orange-popover: #f65100; 
@tm-case-green: #00bb44; 
@tm-amount-orange: #ff6600; 
@tm-amount-black: #484848; 
